{% extends 'base.html.twig' %}

{% block head_title %}Hello HomepageController!{% endblock %}

{% block title %}Hello {{ controller_name }}! ✅{% endblock %}

{% block header %}
    {{ renderHeader() }}
{% endblock %}

{% block content %}
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/mazarini/Workspace/dev/sources/src/Controller/HomepageController.php'|file_link(0) }}">src/Controller/HomepageController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/mazarini/Workspace/dev/sources/templates/homepage/index.html.twig'|file_link(0) }}">templates/homepage/index.html.twig</a></code></li>
    </ul>
{% endblock %}
